.message-group:not(.compact) .avatar-large[style*="252398619452375040"],
 ~ .comment .message h2 span.username-wrapper::after,.channel-members .member .avatar-small[style*="292551635991789568"],
 ~ .member-inner .member-username .member-username-inner::after {
    content:"D1g1tal";
    background:#ff0000;
    color:#fff;
    border-radius:3px;
    border: 1px solid transparent;
    margin-left:6px;font-size:10px;
    font-weight:600;
    padding:1px 4px;
    text-transform:uppercase;
    vertical-align:bottom;
    line-height:16px;
    -webkit-flex-shrink:0;
    flex-shrink:0;
    text-shadow: 0px 1px 3px #000;
}
